:root {
  --main: #222B38;
  --accent: #225196;
  --accent-text: #69A2F7;
  --accent-elements: #3C8AFF;
  --accent-light: #B9D5FF;
  --white: #FFF;
  
  --gradient: linear-gradient(227deg, #F0E9E9 0.82%, #E8EBEF 50.51%);
}
