$maxWidth: 1440;
$minWidth: 375;



$mainFont: Manrope;
$mainWeight: 500;





$fontFamily: $mainFont, sans-serif;
$fontColor: var(--white);

$fontWeight: $mainWeight;

$standartTrans: all 280ms ease-in-out 0ms;
